#banner 
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet gastropub williamsburg intelligentsia four 
        %p dollar toast organic. Slow-carb 90's palo santo humblebrag man braid 
        %p schlitz venmo XOXO yuccie activated charcoal ennui post-ironic vaporware 
        %p pickled. Lumbersexual tbh craft beer cronut biodiesel disrupt. Irony 
        %p blue bottle pitchfork selvage jianbing hoodie.

#bottom_cta
  .wrapper
    %h2 Go Ahead! 
    %br 
    %button= link_to "Join Now", new_user_registration_path